!!! 5
                               
%html
  %head
    %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet"}
    %title                     
      Oauth Dynamic DNS
    %meta{:charset => "utf-8", :content => "text/html", :'http-equiv'=> "Content-Type"} 
  %body
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    %script{:src => "/js/bootstrap.min.js"}

    = yield
