%h1 Status
%div.container
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th
          Domain Name
        %th
          IPv4 Address
        %th
          TXT
    %tbody
      %td
        #{@status.ipv4_address}
      %td
        #{@status.txt}
  %a.btn.btn-primary{:href => "#", :'data-toggle' => "modal", :'data-target' => "#updateModal"}
    Update
  %a.btn.btn-warning{:href => "#", :'data-toggle' => "modal", :'data-target' => "#clearModal"}
    Clear
